
#input {
  color: #F92672;
  background-color: #1E1F1C;
  font-family: 'Fira Code';
  font-size: 18px;
  border-width: 2px;
  background-color: #56ADBC;
  border-radius: 0px;
}

#inner-box {
  background-color: #272822;
}

#outer-box {
  background-color: #272822;
}

#entry {
  color: #88846F;
  font-family: 'Fira Code';
  font-size: 18pt;
}

#entry:selected {
  color: #F8F8F2;
  background-color: #56ADBC;
}

