[general]
import = [
  "~/.config/alacritty/monokai.toml"
]

[font]
{{ if eq .chezmoi.os "darwin" -}}
size = 13
{{ else }}
size = 8
{{- end }}

[font.normal]
family = "FiraCode Nerd Font"

[window]
{{ if not (eq .chezmoi.os "darwin") -}}
decorations = "none"
{{- end }}
dynamic_padding = true
opacity = 0.96

[window.padding]
x = 5
y = 5
