[colors.bright]
black = "#414339"
blue = "#52a2da"
cyan = "#66D9EF"
green = "#a9dc76"
magenta = "#AE81FF"
red = "#f92672"
white = "#CECCC0"
yellow = "#E6DB74"

[colors.cursor]
cursor = "#84876e"
text = "#272822"

[colors.normal]
black = "#272822"
blue = "#52a2da"
cyan = "#66D9EF"
green = "#a9dc76"
magenta = "#AE81FF"
red = "#f92672"
white = "#f8f8f2"
yellow = "#E6DB74"

[colors.primary]
background = "#1e1f1c"
foreground = "#EAE9E1"

[font]
{{ if eq .chezmoi.os "darwin" -}}
size = 13
{{ else }}
size = 8
{{- end }}

[font.normal]
family = "FiraCode Nerd Font"

[window]
{{ if not (eq .chezmoi.os "darwin") -}}
decorations = "none"
{{- end -}}
dynamic_padding = true
opacity = 0.96

[window.padding]
x = 5
y = 5
